<p id="notice"><%= notice %></p>

<p>
  <strong>Food code:</strong>
  <%= @food.food_code %>
</p>

<p>
  <strong>Display name:</strong>
  <%= @food.display_name %>
</p>

<p>
  <strong>Portion default:</strong>
  <%= @food.portion_default %>
</p>

<p>
  <strong>Portion amount:</strong>
  <%= @food.portion_amount %>
</p>

<p>
  <strong>Portion display name:</strong>
  <%= @food.portion_display_name %>
</p>

<p>
  <strong>Factor:</strong>
  <%= @food.factor %>
</p>

<p>
  <strong>Portion Increment:</strong>
  <%= @food.portion_increment %>
</p>

<p>
  <strong>Multiplier:</strong>
  <%= @food.multiplier %>
</p>

<p>
  <strong>Grains:</strong>
  <%= @food.grains %>
</p>

<p>
  <strong>Whole grains:</strong>
  <%= @food.whole_grains %>
</p>

<p>
  <strong>Vegetables:</strong>
  <%= @food.vegetables %>
</p>

<p>
  <strong>Orange vegetables:</strong>
  <%= @food.orange_vegetables %>
</p>

<p>
  <strong>Drkgreen vegetables:</strong>
  <%= @food.drkgreen_vegetables %>
</p>

<p>
  <strong>Starchy vegetables:</strong>
  <%= @food.starchy_vegetables %>
</p>

<p>
  <strong>Other vegetables:</strong>
  <%= @food.other_vegetables %>
</p>

<p>
  <strong>Fruits:</strong>
  <%= @food.fruits %>
</p>

<p>
  <strong>Milk:</strong>
  <%= @food.milk %>
</p>

<p>
  <strong>Meats:</strong>
  <%= @food.meats %>
</p>

<p>
  <strong>Soy:</strong>
  <%= @food.soy %>
</p>

<p>
  <strong>Drybeans peas:</strong>
  <%= @food.drybeans_peas %>
</p>

<p>
  <strong>Oils:</strong>
  <%= @food.oils %>
</p>

<p>
  <strong>Solid fats:</strong>
  <%= @food.solid_fats %>
</p>

<p>
  <strong>Added sugars:</strong>
  <%= @food.added_sugars %>
</p>

<p>
  <strong>Alcohol:</strong>
  <%= @food.alcohol %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @food.calories %>
</p>

<p>
  <strong>Saturated fats:</strong>
  <%= @food.saturated_fats %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
