<h1> First Application</h1>
<p><%= link_to  "Add new post" , new_post_path %></p>

<table>
  <tr>
    <b></b>
    <th>Title   </th>
    <th>Content</th></b>
    <th colspan="2"></th>
  </tr>

  <% @post.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post_path(post) %> |</td>
        <td><%= link_to 'Edit', edit_post_path(post) %> |</td>
        <td><%= link_to "Delete", post, :method => :delete , data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>